<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />

        <script type="text/javascript" src="cordova.js"></script>
        <script src="js/plugins/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script src="js/plugins/jquery-1.11.1.js"></script>
        <script src="js/plugins/angular-1.2.16.js"></script>
        <script src="js/plugins/angular-route-1.2.16.js"></script>
        <script src="js/plugins/kendo.all.js"></script>
        <script src="js/plugins/angular-kendo.js"></script>

        <link rel="stylesheet" type="text/css" href="css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="css/Main.css" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />

        <script type="text/javascript" src="index.js"></script>
        <title>Hello World!</title>
    </head>
    <body ng-app="AngularAttempt" ng-controller="IndexController">
        <h2>Welcome to </h2>
        <h1>Perfect Present</h1>
        <form name="form" class="signing-form" >
            <input type="text" placeholder="Username" ng-model="signin.username" />
            <input type="password" placeholder="password" ng-model="signin.password" />
        	<input type="submit" value="Sign In" />
        </form>
        <div>Username: {{signin.username}}</div>
        <div>Password: {{signin.password}}</div>
    </body>
</html>
